<%  if has_banner?(@banners) then %>

<div id="carousel" class="carousel slide" data-ride="carousel" data-keyboard="true">

  <div class="carousel-inner" role="listbox">
    <% @banners.each_with_index do |banner, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag(banner.attachment_url, class: "fullscreen", alt: "Moda Infantil") %>
        <div class="carousel-caption" style="<%= show_caption(banner) %>">
          <%= content_tag(:h3, "#{banner.title}")  if !banner.title.blank? %>
          <%= content_tag(:p, "#{banner.description}", class: "lead")  if !banner.description.blank? %>
          <%= link_to("Mais informaçoes", banner.link, class: "btn btn-large btn-primary") if !banner.link.blank?  %>
        </div>
      </div>
    <% end %>
  </div>

  <a href="#carousel" class="left carousel-control" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="#carousel" class="right carousel-control" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<% end %>
